*{
    margin: 0px;
    padding: 0px;

}
.contenedor{
    background: #0D1F2D;
    color: #0D1F2D;
    width: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "header"
    "form"
    ;
    


}
header{
    grid-area: header;
    height: 100px;
    background: #9EA3B0;
    
}
ul{
    margin-top: 40px;
    margin-left:  20px;
    text-align: left;
    
}
li{
    display: inline-block;
    margin-right: 20px;   
    
}
a{
    text-decoration: none;
    color: #0D1F2D;
    font-size: 25px;
    font-weight: bolder;
}
form{
    height: 600px;
    grid-area: form;
    margin: 4% 30%;
    background: cornflowerblue;
    border-radius: 2px ;
    
    
}

h2{
    text-align: center;
    font-size: 30px; 
}
label{
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
}
input{
    height: 20px;
    margin: 10px;
    width: 90%;
}
textarea{
    margin-top: 10px;
    margin-left: 10px;
    width: 90%;
}
button{
    width: 30%;
    height: 50px;
    margin-left: 35%;
    margin-right: 40%;
}